aside.info {
  padding: 15px;
  margin-bottom: .85em;
  border-top: 3px solid #bce8f1;
  border-left: 2px solid #bce8f1;
  border-right: 2px solid #bce8f1;
  border-bottom: 2px solid #bce8f1;
  background-color: #d9edf7;
}

aside.info > :first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

aside.info > :last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.anchorjs-link {
  color: #aaa !important;
  transition: opacity .25s ease-in-out;
}

.anchorjs-link:hover, .anchorjs-link:active, .anchorjs-link:focus {
  text-decoration: none !important;
  opacity: 1 !important;
}
